{% extends 'base.html' %}

{% block head %}
<title>Covenant {{cov}}</title>
{% endblock %}

{% block body %}
<h2>COVENANT {{cov}}</h2>
<h3>Cov Year 1220</h3>
(Currently, the action buttons don't do anything)
<div class="grogs">
    <table>
        <tr>
            <th>Name</th>
            <th>age</th>
            <th>decrepitude</th>
            <th>actions</th>
        </tr>
        {% for grog in grogs.keys() %}
        <tr>
            <td>{{ grogs[grog].name }}</td>
            <td>{{ grogs[grog].age }}({{grogs[grog].appAge}})</td>
            <td>{{ grogs[grog].decrep() }}({{grogs[grog].agingPoints }})</td>
            <td>
                <a href="">View</a>
                <a href="">Modify</a>
                <a href="">Aging</a>
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}