{% extends 'base.html' %}

{% block head %}
<title>Covenant {{name}}</title>
{% endblock %}

{% block body %}
<h2>COVENANT {{name}}</h2>
<h3>Cov Year 1220</h3>
<div class="grogs">
    <table>
        <tr>
            <th>Name</th>
            <th>age</th>
            <th>app age</th>
            <th>decrepitude</th>
            <th>actions</th>
        </tr>
        {% for grog in grogs %}
        <tr>
            <td>{{ grog }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">View</a>
                <a href="">Modify</a>
                <a href="">Aging</a>
                <a href="">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}