{% extends 'base.html' %}

{% block head %}
<title>Covenant Index</title>
{% endblock %}

{% block body %}
<h2>Index of Covenants</h2>
<div>
    <table>
        <tr>
            <th>
                Covenant
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for cov in covenants %}
            <tr>
                <th>
                    <a href="/{{cov}}">{{ cov }}</a>
                </th>
            </tr>
        
        {% endfor %}
    </table>
    
</div>
{% endblock %}